@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
a {
    text-decoration: none;
}

ul,li {
    list-style-type: none;
    display: inline-block;
}
img {
    width: 100%;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.flex {
    display: flex;
}


/* Header  Part Css */
#header {
    padding: 40px 0px;
    background-color: #FF900E1A;
}
    
/* Navbar Part Css */
#navbar {
    padding: 0px 0px 40px 0px;
}
.logo {
    width: 50%;
}
.logo span {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.navLink {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.navLink ul li a {
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    margin-right: 30px;
    padding-bottom: 8px;
    position: relative;
    transition: all linear 0.2s;
}
.navLink ul li a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 0px;
    height: 3px;
    border-radius: 2px;
    background-color: #FF900E;
    visibility: hidden;
    transition: all linear 0.3s;
}
.navLink ul li a:hover {
    color: #FF900E;
}
.navLink ul li a:hover::after {
    width: 100%;
    visibility: visible;
}
.navLink ul button {
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    padding: 15px 25px;
    border: 2px solid #FF900E;
    border-radius: 5px;
    background: transparent;
    transition: all linear 0.1s; 
}
.navLink ul button:hover {
    color: #fff;
    background-color: #FF900E;
}

/* Banner Part CSS */
.hero_content {
    text-align: center;
}


.hero_content h1 {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    padding-bottom: 20px;
}
.hero_content p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    padding-bottom: 32px;
}
.hero_content a {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #FF900E;
    border-radius: 5px;
    padding: 20px 25px;
}
.hero_content img {
    margin-top: 40px;
}



/* Features CSS */
#main {
    padding-top: 85px;
}
#features {
    padding-bottom: 110px;
}
.features_content {
    gap: 50px;
    align-items: center;
}
.features_img {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features_text {
    width: 50%;
}
.one {
    color: #727272;
    font-weight: 500;
}
.two {
    color: #131313;
    font-weight: 600;
}
.three {
    color: #FF900E;
    font-weight:700;
}
.features_text h2 {
    font-size: 45px;
}
.features_text p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    padding: 20px 0px 25px 0px
}
.features_text button {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF900E;
}


/* Experience Part CSS */
#experience {
    padding-bottom: 90px;
}
.experience_container {
    gap: 130px;
    justify-content: space-between;
}
.experience_left h3 {
    font-size: 45px;
    font-weight: 800;
    padding-left: 20px;
    margin-bottom: 15px;
    border-left: 7px solid #FF900E;
}
.experience_left>p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    padding-bottom: 30px;
}
.experience_card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
}
.experience_card h4 {
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    padding-bottom: 20px;
}
.experience_card p {
    font-size: 16px;
    font-weight: 400;
    color: #727272
}
.experience_right button {
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #FF900E;
    padding: 40px 45px;
    margin-top: -70px;
    margin-left: -60px;
}
.experience_right button span {
    font-size: 30px;
    font-weight: 700;
}


/* Some_Fact Part CSS */
#some_facts {
    padding-bottom: 85px;
}
.some_facts_header {
    margin-bottom: 40px;
}
.some_facts_header h3 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    padding-bottom: 20px;
}
.some_facts_header p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.some_fact_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: space-around;
}
.some_item {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #FF900E;
}
.some_item img {
    width: 50px;
}
.some_item h5{
    font-size: 45px;
    font-weight: 500;
    color: #424242;
}
.some_item p{
    font-size: 20px;
    font-weight: 500;
    color: #727272;
}

/* Sponsor Part */
#sponsor {
    padding-bottom: 100px;
}
.sponsor_title {
    text-align: center;
}
.sponsor_title h3{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    padding-bottom: 15px;
}
.sponsor_title p{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    padding-bottom: 45px;
}
.sponsor_item {
    display: flex;
    gap: 50px;
    filter: grayscale(1);
}

/* Footer */
#footer {
    background-color: #FF900E1A;
    padding: 20px 0px;
    text-align: center;
}
#footer p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
/* Small Device */
@media only screen and (max-width: 576px) {
    .container {
        width: 576px;
    }
    #navbar {
        padding: 20px 0px;
    }
    #navbar {
        flex-direction: column;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .logo span {
        font-size: 25px;
        font-weight: 700;
        color: #131313;
    }
    .navLink {
        width: 100%;
        margin-top: 15px;
        justify-content: center;
    }
    .navLink ul li a {
        margin: 0px 10px;
        font-size: 15px;
    }
    .navLink ul button {
        font-size: 15px;
        padding: 10px 15px;
    }

    /* Banner Part */
    .hero_content h1 {
        font-size: 34px;
        padding-bottom: 15px;
    }
    .hero_content p {
        font-size: 14px;
        padding: 0px 20px 22px 20px;
    }
    .hero_content a {
        font-size: 16px;
        padding: 15px 20px;
    }
    .hero_content img {
        border-radius: 10px;
        margin-top: 30px;
    }

    /* Features Part */
    #main {
        padding-top: 45px;
    }
    #features {
        padding-bottom: 60px;
    }
    .features_content {
        flex-direction: column-reverse;
    }
    .features_img {
        width: 100%;
        gap: 15px;
    }
    .features_text {
        width: 100%;
        text-align: center;
    }
    .features_text h2 {
        font-size: 35px;
    }
    .features_text p {
        padding: 17px 0px 20px 0px
    }
    .features_text button {
        padding: 15px 10px;
    }

    /* Experience Part CSS */
    #experience {
        padding-bottom: 40px;
    }
    .experience_container {
        flex-direction: column;
    }
    .experience_left h3 {
        font-size: 30px;
        padding-left: 10px;
        margin-bottom: 10px;
        border-left: 5px solid #FF900E;
    }
    .experience_left>p {
        padding-bottom: 20px;
    }
    .experience_card {
        padding: 15px;
        margin-bottom: 10px;
    }
    .experience_card h4 {
        font-size: 18px;
        padding-bottom: 15px;
    }
    .experience_right {
        text-align: center;
    }
    .experience_right button {
        padding: 20px 25px;
    }
    .experience_right button span {
        font-size: 20px;
    }

    /* Some_Fact Part CSS */
    #some_facts {
        padding-bottom: 40px;
    }
    .some_facts_header {
        margin-bottom: 25px;
    }
    .some_facts_header h3 {
        font-size: 35px;
        padding-bottom: 17px;
    }
    .some_fact_container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .some_item {
        padding: 25px;
    }
    .some_item h5{
        font-size: 30px;
    }
    /* Sponsor CSS */
    #sponsor {
        padding-bottom: 40px;
    }
    .sponsor_title h3{
        font-size: 30px;
        padding-bottom: 15px;
    }
    .sponsor_title p{
        padding-bottom:30px;
    }
    .sponsor_item img {
        width: 60%;
    }
    .sponsor_item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        filter: grayscale(1);
    }


    
}

/* Medium Device */
@media only screen and (min-width: 576px) and (max-width: 768px)  {
    .container {
        width: 768px;
    }
    .container {
        width: 576px;
    }
    #navbar {
        padding: 20px 0px;
    }
    #navbar {
        flex-direction: column;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .logo span {
        font-size: 25px;
        font-weight: 700;
        color: #131313;
    }
    .navLink {
        width: 100%;
        margin-top: 15px;
        justify-content: center;
    }
    .navLink ul li a {
        margin: 0px 10px;
        font-size: 15px;
    }
    .navLink ul button {
        font-size: 15px;
        padding: 10px 15px;
    }

    /* Banner Part */
    .hero_content h1 {
        font-size: 34px;
        padding-bottom: 15px;
    }
    .hero_content p {
        font-size: 14px;
        padding: 0px 20px 22px 20px;
    }
    .hero_content a {
        font-size: 16px;
        padding: 15px 20px;
    }
    .hero_content img {
        margin-top: 30px;
    }

    /* Features Part */
    #main {
        padding-top: 45px;
    }
    #features {
        padding-bottom: 60px;
    }
    .features_content {
        flex-direction: column-reverse;
    }
    .features_img {
        width: 100%;
        gap: 15px;
    }
    .features_text {
        width: 100%;
        text-align: center;
    }
    .features_text h2 {
        font-size: 35px;
    }
    .features_text p {
        padding: 17px 0px 20px 0px
    }
    .features_text button {
        padding: 15px 10px;
    }

    /* Experience Part CSS */
    #experience {
        padding-bottom: 40px;
    }
    .experience_container {
        flex-direction: column;
    }
    .experience_left h3 {
        font-size: 30px;
        padding-left: 10px;
        margin-bottom: 10px;
        border-left: 5px solid #FF900E;
    }
    .experience_left>p {
        padding-bottom: 20px;
    }
    .experience_card {
        padding: 15px;
        margin-bottom: 10px;
    }
    .experience_card h4 {
        font-size: 18px;
        padding-bottom: 15px;
    }
    .experience_right {
        text-align: center;
    }
    .experience_right button {
        padding: 20px 25px;
    }
    .experience_right button span {
        font-size: 20px;
    }

    /* Some_Fact Part CSS */
    #some_facts {
        padding-bottom: 55px;
    }
    .some_facts_header {
        margin-bottom: 25px;
    }
    .some_facts_header h3 {
        font-size: 35px;
        padding-bottom: 17px;
    }
    .some_fact_container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .some_item {
        padding: 25px;
    }
    .some_item h5{
        font-size: 30px;
    }

    /* Sponsor CSS */
    #sponsor {
        padding-bottom: 40px;
    }
    .sponsor_title h3{
        font-size: 30px;
        padding-bottom: 15px;
    }
    .sponsor_title p{
        padding-bottom:30px;
    }
    .sponsor_item img {
        width: 60%;
    }
    .sponsor_item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        filter: grayscale(1);
    }
}